version: '2.4'

networks:
  caddy_ingress:
    external: true

services:
  caddy:
    image: tkd/caddy:latest
    command: --log stdout --agree=true --email={{ msmtp.reportTarget }}
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/caddy/certs:/root/.caddy
      - /var/log/caddy:/caddylogs
      - /etc/caddy/config:/caddy
      - /var/www:/www
    environment:
     ACME_AGREE: "true"
     ENABLE_TELEMETRY: "false"
     CADDY_DOCKER_CADDYFILE_PATH: "/caddy/main.caddy"
    ports:
      - target: 80
        published: 80
        protocol: tcp
      - target: 443
        published: 443
        protocol: tcp
    networks:
      - caddy_ingress