# {{ ansible_managed }}
#
account default

# The SMTP smarthost
host 	  {{ msmtp.host }}
user   	  {{ msmtp.user }}
password  {{ msmtp.password }}

port {{ msmtp.port }}
tls {% if msmtp.tls %}on{% else %}off{% endif %}

tls_starttls {% if msmtp.starttls %}on{% else %}off{% endif %}

# Construct envelope-from addresses of the form "user@oursite.example"
from {{ msmtp.from.user }}+{{ hostname }}@{{ msmtp.from.domain }}

# Syslog logging with facility LOG_MAIL instead of the default LOG_USER
syslog LOG_MAIL