# {{ ansible_managed }}
#
account default

# The SMTP smarthost
host 	  {{ msmtp.host }}
user   	  {{ msmtp.user }}
password  {{ msmtp.password }}

#
# TODO(ppacher): make the below variables
# configurable via ansible
#
# Use TLS on port 465
port 465
tls on
tls_starttls off

# Construct envelope-from addresses of the form "user@oursite.example"
from {{ msmtp.sender }}

# Syslog logging with facility LOG_MAIL instead of the default LOG_USER
syslog LOG_MAIL